html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    border: 5px;
    border-radius: 20px;
}


.hover-container {  
    position: relative;  
    display: inline-block; /* 或者其他你需要的布局方式 */  
    cursor: pointer; /* 更改鼠标样式为指针，可选 */  
}  
  
 .hover-image {  
    position: absolute;  
    top: 100%; /* 根据需要调整，这里设置为文本下方 */  
    left: 0; /* 或者根据需要设置其他位置 */  
    width: 100px; /* 根据图片大小调整 */  
    height: auto; /* 或者设置固定高度 */  
    display: none; /* 默认不显示 */  
    border: 1px solid #000; /* 添加边框 */  
    z-index: 1; /* 确保图片在文本上方 */  
    /* 可以添加更多样式，如阴影、圆角等 */  
} 

.hover-container:hover .hover-image {  
    display: block; /* 鼠标悬停时显示图片 */  
}

/*_______________________________________*/

.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect span {
  /* 设置文本样式 */
  cursor: pointer;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* 初始时隐藏图片 */
  transition: opacity 0.5s ease-in-out; /* 平滑过渡效果 */
}

.hover-effect:hover .hover-image {
  opacity: 1; /* 鼠标悬停时显示图片 */
}
