body {
    background-color: #fff;
    display: grid;
    margin: 0%;
}

li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

/* 上方条栏 */
.toppic_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: fixed;
    top: 0px;
    height: 49px;
    width: 100%;
    background-color: #389;
}

/* toppic_bar_container */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .toppic_bar_container {
            height: 80%;
            width: 74%;
            display: flex;
            align-items: center;
        }        
    }
    /* 手机端 */
    @media (max-width: 600px) {

        .toppic_bar_container {
            height: 80%;
            width: 90%;
            display: flex;
            align-items: center;
        }        
    }


.toppic_bar_container_menu {
    z-index: 12;
    height: 20px;
    width: auto;
}

.toppic_bar_menu_button {
    background: none;
    border: none;
}

/* toppic_bar_container_logo */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .toppic_bar_container_logo {
            position: relative;
            left: 1.6vw;
            height: 32px;
            width: auto;
        }    
    }
    /* 手机端 */
    @media (max-width: 600px) {

        .toppic_bar_container_logo {
            position: relative;
            left: 1.6vw;
            height: 24px;
            width: auto;
        }    
    }

.toppic_bar_container_search_box {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

/* .toppic_bar_container_search_box_bar */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .toppic_bar_container_search_box_bar {
            display: flex;
            padding: 16px;
            height: 4px;
            width: 240px;
            border-radius: 36px;
            background-color: rgb(42, 116, 130);
            align-items: center;
            justify-self: flex-end;
            justify-content: space-between;
        }    
    }
    /* 手机端 */
    @media (max-width: 600px) {

        .toppic_bar_container_search_box_bar {
            display: flex;
            padding: 16px;
            height: 4px;
            width: 30vw;
            border-radius: 36px;
            background-color: rgb(42, 116, 130);
            align-items: center;
            justify-self: flex-end;
            justify-content: space-between;
        }    
    }

/* .toppic_bar_container_search_box_button */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .toppic_bar_container_search_box input {
            color: aliceblue;
            flex: auto;
            position: relative;
            border: none;
            background: none;
            outline: none;
            padding: 0;
            line-height: 28px;
            max-width: 180px;
            caret-color: aliceblue;
        }
    }
    /* 手机端 */
    @media (max-width: 600px) {

        .toppic_bar_container_search_box input {
            color: aliceblue;
            flex: auto;
            position: relative;
            border: none;
            background: none;
            outline: none;
            padding: 0;
            line-height: 28px;
            max-width: 23vw;
            caret-color: aliceblue;
        }
    }

.toppic_bar_container_search_box input::placeholder {
    color: aliceblue;
}

/* .toppic_bar_container_search_box_button */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .toppic_bar_container_search_box_button {
            flex: auto;
            justify-self: flex-end;
            position: relative;
            align-self: center;
            height: 20px;
            width: auto;
        }    
    }    
    /* 手机端 */
    @media (max-width: 600px) {

        .toppic_bar_container_search_box_button {
            flex: auto;
            justify-self: flex-end;
            align-self: center;
            height: 16px;
            width: auto;
        }    
        }    

/* 侧边栏 */        
    
/* .menu_bar.open */
    
    /* 桌面端 */
    @media (min-width: 601px) {

        .menu_bar {
            z-index: 4;
            position: fixed;
            top: 52px;
            left: 6vw;
            width: fit-content;
            height: fit-content;
            padding: 20px;
            background-color: #389;
            display: grid;
            border-radius: 5px;
            /* 动画部分 */
            transform: translateY(-5%);
            transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
            visibility: hidden;
            opacity: 0;
        }    
        .menu_bar.open {
            z-index: 4;
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            margin: 0;
        }    
    }    
    /* 手机端 */
    @media (max-width: 600px) {
        
        .menu_bar.open {
            z-index: 4;
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            margin: 0;
        }    
        .menu_bar {
            z-index: 4;
            position: fixed;
            top: 49px;
            padding: 10px 20px 20px 20px;
            width: 100vw;
            height: fit-content;
            background-color: #396e82;
            display: flex;
            flex-direction: column;
            transform: translateY(-100%);
            transition: transform 0.1s ease-in-out, visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
            visibility: hidden;
            opacity: 0;
        }    
        
        .menu_bar_bg.open {
            opacity: 1;
            visibility: visible;
            z-index: 3;
        }    
    }    
    
.menu_bar_content {
    height: fit-content;
    width: fit-content;
    justify-self: center;
}    

@media (min-width: 601px) {
    
    .menu_bar_content_top {
        display: grid;
        grid-template-columns: max-content min-content auto;
        align-items: center;
    }

    .menu_bar_content_bottom {
        justify-content: space-between;
    }

    .side_line {
        margin: 0 10px 0 10px;
        height: 100;
        width: 1px;  
        background:#ccc;
    }

    .menu_bar_content a {
        color: #eee;
        margin-top: 2px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 16px;
    }

    .menu_bar_content p {
        margin: 2px 0 2px 0;
        color: #fff;
        margin-top: 2px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 20px;
    }
}

@media (max-width: 600px) {

    .side_line {
        display: none;
    }

    .menu_bar_content a {
        color: #eee;
        margin-top: 2px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 18px;
    }

    .menu_bar_content p {
        margin: 2px 0 2px 0;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 18px;
    }

    .menu_bar_content_top > div {
        display: flex;
        flex-direction: column;
    }

}


.menu_bar_bg {
    position: fixed;
    margin: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
    background-color: #00000099;
}


/* 主页intro */
.intro {
    text-align: center;
    position: absolute;
    top: 0vw;
    left: 5vw;
    right: 5vw;
    margin: 17vw 0vw 10vw 0vh;
        z-index: 2;
}

@media (min-width: 901px) {
    
    .intro h1 {
        font-size: 4.4vw;
        margin-top: auto;
        color: rgb(17, 190, 164);
        text-shadow: rgb(93, 93, 93) 2px 0 10px;
    }

    .intro h2 {
        font-size: 3vw;
        color: rgb(23, 233, 163);
        text-shadow: rgb(93, 93, 93) 2px 0 10px;
    }

    .intro h3 {
        font-size: 2vw;
        color: rgb(224, 224, 224);
        letter-spacing: 0.1vw;
        text-shadow: rgb(75, 75, 75) 2px 0 5px;
    }

    .animation_arrow {
        position: relative;
        top: 10vw;
    }

    .animation_arrow p {
        position: relative;
        color: rgba(224, 224, 224, 0.8);
        font-size: 1vw;
        letter-spacing: 0.3vw;
        text-shadow: rgb(128, 128, 128) 0px 0 1vw;
    }
    
    .arrow_down {
        filter: opacity(50%);
        position: relative;
        height: 0.8vw;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        animation: arrow_down 2s infinite;
    }
}

@media (max-width: 900px) {
    
    .intro h1 {
        font-size: 4.4vh;
        margin-top: 14vh;
        margin-left: 10vw;
        margin-right: 10vw;
        color: rgb(17, 190, 164);
        text-shadow: rgb(93, 93, 93) 2px 0 10px;
    }
    
    .intro h2 {
        font-size: 3vh;
        color: rgb(23, 233, 163);
        text-shadow: rgb(93, 93, 93) 2px 0 10px;
    }
    
    .intro h3 {
        margin-top: 5vh;
        font-size: 2vh;
        color: rgb(224, 224, 224);
        letter-spacing: 0.1vw;
        text-shadow: rgb(75, 75, 75) 2px 0 5px;
    }
    
    .animation_arrow {
        position: relative;
        top: 28vh;
    }
    
    .animation_arrow p {
        position: relative;
        color: rgba(224, 224, 224, 0.8);
        font-size: 1.5vh;
        letter-spacing: 0.3vw;
        text-shadow: rgb(128, 128, 128) 0px 0 1vw;
    }
    
    .arrow_down {
        filter: opacity(50%);
        position: relative;
        height: 1vh;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        animation: arrow_down 2s infinite;
    }
}



    @keyframes arrow_down {
        0% {
            opacity: 1
        }

        90% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(0,1.36vw,0)
        }
    }

.separation_line {
    justify-self: center;    
    margin-top: 1.024vw;
    margin-bottom: 1.024vw;
    width: 60vw;
    height: 1px;
    background: linear-gradient(to right, #fff, #66666667, #fff);
}


/*正文*/

/* .content */

    /* 桌面电脑端 */
    @media (min-width: 901px) {
        
        .content {
            width: 80vw;
            margin-top: 2.56vw;
            display: grid;
            height: fit-content;
            justify-self: center;
            justify-items: center;
        }
    }
    
    /* 手机端 */
    @media (max-width: 900px) {

        .content {
            width: 80vw;
            margin-top: 2.56vw;
            display: flex;
            height: fit-content;
            justify-self: center;
            align-items: center;
            flex-direction: column;
        }
    }    


/*游戏版本选项*/

/* .content_gateways */

    /* 桌面电脑端 */
    @media (min-width: 901px) {
        
        .content_gateways {
            margin-top: 50px;
            margin-bottom: 50px;
            justify-items: center;
            height: fit-content;
            display: flex;
            column-gap: 12vw;
        }
    }
    
    /* 手机端 */
    @media (max-width: 900px) {

        .content_gateways {
            margin-top: 50px;
            margin-bottom: 50px;
            justify-items: center;
            height: fit-content;
            display: grid;
            row-gap: 6vh;
        }
    }    

/* .content_gateways_card */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .content_gateways_card {
            flex: 1;
            padding: 0.5859vw;
            width: 18vw;
            height: 6.25vw;
            background-color: #6c6;
            border-radius: 2vw;
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;
        }
    }
    
    /* 平板端 */
    @media (max-width: 1300px) and (min-width: 901px) {

        .content_gateways_card {
            flex: 1;
            padding: 2.859vw;
            width: 18vw;
            height: 6.25vw;
            background-color: #6c6;
            border-radius: 2vw;
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;
        }
    }

    /* 手机端 */
    @media (max-width: 900px) {
        
        .content_gateways_card {
            flex: 1;
            padding: 2.859vw;
            width: auto;
            min-width: 300px;
            height: 5.5vh;
            background-color: #6c6;
            border-radius: 2vw;
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;
        }
    }

.content_gateways_card > img {
    flex: 1;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.content_gateways_card > h2 {
    display: flex;
    justify-content: center;
    flex: 3;
    color: #fff;
    font-size: 36px;
}

/*详细选项*/

/* .content_list */

    /* 桌面电脑端 */
    @media (min-width: 901px) {
        
        .content_list {
            justify-items: center;
            display: grid;
            grid-template-columns: 32vw 32vw;
            row-gap: 6vh;
            /* 展开动画过渡部分 */
            overflow: hidden;
            max-height: calc(6vh + 11.324vw);
            transition: max-height 0.5s ease-in-out;
        }
    }

    /* 手机端 */
    @media (max-width: 900px) {

        .content_list {
            justify-items: center;
            display: grid;
            row-gap: 6vh;
            /* 展开动画过渡部分 */
            overflow: hidden;
            max-height: 11.5vh;
            transition: max-height 0.5s ease-in-out;
        }
    }

.content_list.open {
    max-height: 500vh;
}

/* 不显示.content_list.open 后的第一个.content_list_folder */
.content_list.open + .content_list_folder {
    display: none;
}

.content_list_folder {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: none;
    border: none;
    height: 6vh;
    width: fit-content;
    letter-spacing: 5px;
    color: #999;
    font-size: 1.5vh;
}

.content_list_folder img {
    z-index: 1;
    filter: opacity(0.3) brightness(0.5);
    position: relative;
    height: 1.5vh;
    width: 1.8vh;
    animation: arrow_down 2s infinite;
}

.content_list > a, .content_gateways > a {
    text-decoration: none;
}

/* .content_list_card */

    /* 桌面电脑端 */
    @media (min-width: 601px) {
        
        .content_list_card {
            padding: 0.58vw;
            width: 18vw;
            height: 3.478vw;
            background-color: #69c;
            border-radius: 3vw;
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;
        }
    }

    /* 平板端 */
    @media (max-width: 1500px) {

        .content_list_card {
            padding: 2.58vw;
            width: 18vw;
            height: 6.478vw;
            background-color: #69c;
            border-radius: 3vw;
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;
        }
    }

    /* 手机端 */
    @media (max-width: 900px) {

        .content_list_card {
            padding: 2vh;
            width: auto;
            min-width: 300px;
            height: 5.5vh;
            background-color: #69c;
            border-radius: 3vw;
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;
        }
    }

.content_list_card > img {
    flex: 1;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.content_list_card > h2 {
    display: flex;
    justify-content: center;
    flex: 3;
    color: #fff;
}

.content > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    margin-top: 49px;
    width: 100vw;
    height: fit-content;
    background-color: #9cc;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 16px;
}
