body {
    background-color: #fff;
    display: grid;
    justify-content: center;
    margin: 0%;
}

pre {
    overflow: scroll;
}

li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.highlight {
    color: #09f !important;
    transition: color 0.1s;
}

/* 上方条栏 */
.toppic_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: fixed;
    top: 0px;
    height: 72px;
    width: 100%;
    background-color: #389;
}

.toppic_bar_container > .left {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: fit-content;
}

.toppic_bar_menu_button > img {
    z-index: 12;
    height: 20px;
    width: auto;
}

.toppic_bar_menu_button {
    background: none;
    border: none;
}

.toppic_bar_container > .right {
    align-self: start;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 11px;
}

#search_input::placeholder {
    color: aliceblue;
}

.search_button {
    position: relative;
    align-self: center;
    height: 20px;
    width: auto;
}

.search_result.onfocus {
    position: relative;
    background-color: #508ba1;
    margin: 0;
    z-index: 6;
    padding-top: 36px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    top: -36px;
    border-radius: 18px;
    height: fit-content;
    visibility: visible;
}

.search_result {
    visibility: hidden;
}

.search_result > a {
    color: #eee;
}

.search_result > a > div > h3 {
    margin: 0 0 2px 0;
    font-size: medium;
}

.search_result > a > div > p {
    margin: 5px 0 5px 0;
    font-size: smaller;

}

.search_result > a > div > hr {
    color: #ccc;
}

.search_result > a > div {
    margin: 10px 0 10px 0;
}


@media (min-width: 769px) {

    .toppic_bar_container {
        height: 80%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 3px;
        margin: auto;
    }

    .search_box {
        display: flex;
        padding: 16px;
        height: 8px;
        width: 240px;
        border-radius: 36px;
        background-color: rgb(42, 116, 130);
        align-items: center;
        justify-content: space-between;
        z-index: 7;
    }

    #search_input {
        color: aliceblue;
        position: relative;
        border: none;
        background: none;
        outline: none;
        padding: 0;
        line-height: 28px;
        max-width: 180px;
        caret-color: aliceblue;
    }

    .toppic_bar_container_logo {
        position: relative;
        left: 1.6vw;
        height: 32px;
        width: auto;
    }
}

@media (max-width: 1250px) and (min-width: 769px) {
    
    .toppic_bar_container {
        height: 80%;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 3px;
        margin: auto;
    }
}

@media (max-width: 768px) {
    

    .toppic_bar_container {
        height: 80%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 3px;
        margin: auto;
    }

    .search_box {
        display: flex;
        padding: 16px;
        height: 8px;
        width: 25vw;
        border-radius: 36px;
        background-color: rgb(42, 116, 130);
        align-items: center;
        justify-content: space-between;
        z-index: 7;
    }

    #search_input {
        color: aliceblue;
        position: relative;
        border: none;
        background: none;
        outline: none;
        padding: 0;
        line-height: 28px;
        max-width: 80%;
        caret-color: aliceblue;
    }

    .toppic_bar_container_logo {
        position: relative;
        left: 1.6vw;
        height: 28px;
        width: auto;
    }
}

/* 总菜单引导栏 */

/* .menu_bar.open */

    /* 桌面端 */
    @media (min-width: 769px) {

        .menu_bar {
            z-index: 6;
            position: fixed;
            top: 52px;
            left: 6vw;
            width: fit-content;
            height: fit-content;
            padding: 20px;
            background-color: #389;
            display: grid;
            border-radius: 5px;
            /* 动画部分 */
            transform: translateY(-5%);
            transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
            visibility: hidden;
            opacity: 0;
        }    
        .menu_bar.open {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            margin: 0;
        }
    }
    /* 手机端 */
    @media (max-width: 768px) {
        
        .menu_bar.open {
            transform: translateY(0);
            visibility: visible;
            z-index: 5;
            opacity: 1;
            margin: 0;
        }
        .menu_bar {
            position: fixed;
            top: 49px;
            padding: 10px 20px 20px 20px;
            width: 100vw;
            height: fit-content;
            background-color: #396e82;
            display: flex;
            flex-direction: column;
            transform: translateY(-100%);
            transition: transform 0.1s ease-in-out, visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
            visibility: hidden;
            opacity: 0;
        }
        .menu_bar.open + .menu_bar_bg {
            opacity: 1;
            visibility: visible;
            z-index: 3;
        }
    }

.menu_bar_content {
    height: fit-content;
    width: fit-content;
    justify-self: center;
}

@media (min-width: 769px) {
    
    .menu_bar_content_top {
        display: grid;
        grid-template-columns: max-content min-content auto;
        align-items: center;
    }

    .menu_bar_content_bottom {
        justify-content: space-between;
    }

    .side_line {
        margin: 0 10px 0 10px;
        height: 100;
        width: 1px;  
        background:#ccc;
    }

    .menu_bar_content a {
        color: #eee;
        margin-top: 2px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 16px;
    }

    .menu_bar_content p {
        margin: 2px 0 2px 0;
        color: #fff;
        margin-top: 2px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .side_line {
        display: none;
    }

    .menu_bar_content a {
        color: #eee;
        margin-top: 2px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 18px;
    }

    .menu_bar_content p {
        margin: 2px 0 2px 0;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 18px;
    }

    .menu_bar_content_top > div {
        display: flex;
        flex-direction: column;
    }

}
.menu_bar_bg {
    position: fixed;
    margin: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
    background-color: #00000099;
}

.content_ql_bg {
    position: fixed;
    margin: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
    background-color: #00000099;
}

.nav_list {
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    
    .toppic_bar_navigation {
        position: relative;
        width: 100%;
        height: 45px;
        background-color: #e1e2e3;
        padding: 5px 0 5px 0;
        display: flex;
        align-content: center;
    }

    .toppic_bar_navigation_content {
        margin: auto;
        width: 80%;
        height: 80%;
        display: flex;
    }

    .nav_list_button {
        display: none;
    }
    .nav_list_button img {
        visibility: hidden;
    }
}

@media (max-width: 1250px) and (min-width: 769px) {
    
    .toppic_bar_navigation_content {
        margin: auto;
        width: 85%;
        height: 80%;
        display: flex;
    }
}

@media (max-width: 768px) {

    .toppic_bar_navigation {
        position: relative;
        width: 100%;
        height: 20px;
        background-color: #e1e2e3;
        padding: 10px;
        display: flex;
    }
    
    .toppic_bar_navigation_content {
        margin: auto;
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: left;
        align-items: center;
        columns: auto;
        overflow-wrap: normal;
    }


    .nav_list_button {
        display: flex;
        width: fit-content;
        margin-right: 8px;
        height: auto;
        background: none;
        border: none;
    }

    .nav_list_button:hover {
        cursor: pointer;
    }

    .nav_list_button img {
        width: auto;
        height: 16px;
    }
}

.toppic_bar_navigation_content a {
    text-decoration: none;
    color: #555;
    transition: color 0.1s;
}

.toppic_bar_navigation_content a:hover {
    text-decoration: none;
    color: #000;
    transition: color 0.1s;
}

@media (min-width: 1251px) {

    .content {
        position: relative;
        top: 150px;
        margin: 0 auto 150px auto;
        min-height: calc(100vh - 196px);
        width: 80%;
        display: grid;
        column-gap: 20px;
        grid-template-columns: minmax(0,0.8fr) minmax(0,2fr) minmax(0,15rem);
    }
    
    /* 左侧边栏菜单 */

    .content_ql {
        position: -webkit-sticky;
        position: sticky;
        top: 114px;
        margin: 0;
        height: fit-content;
        max-width: 200px;
        width: fit-content;
        background-color: #fafbfc;
        padding: 30px;
        border-radius: 30px;
    }
    
    .sidebar_quicklinks {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    
    /* 段落跳转栏 */

    .content_pg {
        position: -webkit-sticky;
        position: sticky;
        top: 114px;
        margin: 0;
        padding: 15px 15px 15px 20px;
        border-radius: 15px;
        height: fit-content;
        width: fit-content;
        min-width: 80%;
        background-color: #fafbfc;
    }
    
    .content_pg h1 {
        font-size: x-large;
        margin: 10px 0 18px 0 ;
    }
    
    .content_pg_list {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 15px;
    }
    
    .content_pg_list > ol {
        padding-left: .75rem;
        margin: 0 0 18px 0;
    }
    
    .content_pg_list > ol > li.has_chn_number {
        margin: 10px 0 0 2.5rem;
    }

    .content_pg_list > ol > li {
        margin: 10px 0 0 .75rem;
    }
    
    .content_pg_list > ol > a + li {
        margin-top: 12px;
    }
    
    .content_pg_list a {
        margin-top: 7px;
        margin-bottom: 7px;
        text-decoration: none;
        color: #333;
        transition: color 0.1s;
    }
    
    .content_pg_list a:hover {
        color: #09f;
        transition: color 0.1s;
    }
}

@media (max-width: 1250px) and (min-width: 769px) {

    .content {
        position: relative;
        top: 100px;
        margin: 0 auto 150px auto;
        width: 85vw;
        min-height: calc(100vh - 196px);
        display: grid;
        column-gap: 2vw;
        grid-template-columns: minmax(0,0.8fr) minmax(0,2fr);
    }
    
    /* 左侧边栏菜单 */
    
    .content_ql {
        justify-self: center;
        position: -webkit-sticky;
        position: sticky;
        top: 114px;
        margin: 0;
        height: fit-content;
        width: fit-content;
        max-width: 200px;
        background-color: #fafbfc;
        padding: 30px;
        border-radius: 30px;
    }
    
    .sidebar_quicklinks {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    
    /* 段落跳转栏 */

    .content_pg {
        display: none;
        position: -webkit-sticky;
        position: sticky;
        top: 114px;
        margin: 0;
        padding: 15px;
        border-radius: 15px;
        height: fit-content;
        width: fit-content;
        background-color: #fafbfc;
    }
    
    .content_pg h1 {
        font-size: x-large;
        margin: 10px 0 18px 0 ;
    }
    
    .content_pg_list {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 15px;
    }
    
    .content_pg_list > ol {
        padding-left: .75rem;
        margin: 0 0 18px 0;
    }
    
    .content_pg_list > ol > li {
        margin: 10px 0 0 2.75rem;
    }
    
    .content_pg_list > ol > a + li {
        margin-top: 12px;
    }
    
    .content_pg_list a {
        margin-top: 7px;
        margin-bottom: 7px;
        text-decoration: none;
        color: #333;
        transition: color 0.1s;
    }
    
    .content_pg_list a:hover {
        color: #09f;
        transition: color 0.1s;
    }
}

@media (max-width: 768px) {
    
    .content {
        position: relative;
        top: 90px;
        margin: auto;
        background-color: #fafbfc;
        width: 100%;
        display: grid;
    }

    .content_pg {
        display: none;
    }

    .content_ql {
        position: fixed;
        top: 89px;
        padding: 10px 20px 20px 20px;
        width: 100vw;
        height: fit-content;
        background-color: #ddd;
        display: flex;
        flex-direction: column;
        transform: translateY(-100%);
        transition: transform 0.1s ease-in-out, visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
        visibility: hidden;
        opacity: 0;

    }

    .content_ql.open {
        transform: translateY(0);
        visibility: visible;
        z-index: 5;
        opacity: 1;
        margin: 0;
    }

    .content_ql.open + .content_ql_bg {
        opacity: 1;
        visibility: visible;
        z-index: 3;
    }
}

.ql_section > a {
    text-decoration: none;
    font-size: x-large;
    font-weight: 500;
    color: #333;
    transition: color 0.1s;
}

.ql_section > a:hover {
    color: #000;
    transition: color 0.1s;
}

.ql_section > a > h5 {
    margin: 0 0 15px 0;
}


.ql_details {
    margin: 15px 0 5px 0;
}

.ql_details > summary {
    color: #333;
    transition: color 0.1s;
}

.ql_details > summary:hover {
    color: #000;
    transition: color 0.1s;
}

.ql_details > ol {
    padding-left: .75rem;
}

.ql_details > ol li a {
    text-decoration: none;
    color: #333;
    transition: color 0.1s;
}

.ql_details > ol li a:hover {
    text-decoration: none;
    color: #000;
    transition: color 0.1s;
}

@media (min-width: 769px) {

    .content_md {
        position: relative;
        max-width: 85%;
        min-width: 80%;
        min-height: 80vh;
        justify-self: start;
        background-color: #fafbfc;
        padding: 50px;
        border-radius: 50px;
    }
}

@media (max-width: 768px) {
    
    .content_md {
        position: relative;
        width: 90vw;
        min-height: 80vh;
        padding: 1vw;
        justify-self: center;
        background-color: none;
    }
    
}

.content_md section , .content_md section * {
    scroll-margin-top: 109px;
    max-width: 90vw;
}

.content_md a {
    color: #666;
    transition: color 0.1s;
    word-wrap: break-word;
}

.content_md a:hover {
    color: #09f;
    transition: color 0.1s;
}

.content_md img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.content_md li {
    list-style-type: circle;
}

.content_md aside {
    padding: 10px;
    border-radius: 10px;
    text-shadow: #555 0.25rem 0.25rem 0.25rem;
}

.content_md aside * {
    padding-left: 16px;
    text-shadow: none;
}

.content_md aside.warning {
    background-color: #ffcc3399;
    
}

.content_md aside.notice {
    background-color: #55bbff99;
}

.content_md aside.error {
    background-color: #ff333399;
}


.bottom {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    margin-top: 49px;
    width: 100vw;
    height: fit-content;
    background-color: #9cc;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    column-gap: 16px;
    color: #fff;
}

.bottom a {
    text-decoration: none;
    color: #eee;
}

.bottom_icon {
    height: fit-content;
    background-color: #9cc;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 16px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    margin: auto;
    width: 36px;
    height: 36px;
    border: 5px solid #6cc;
    border-bottom-color: #cff;
    border-radius: 50%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}
